.header__main {
  background-color:  #258EFF91;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.header__nav {
  display: flex;
  justify-content: center;
}

.header__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.item__nav {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.item__nav:hover {
  color: #0056b3;
}
